@import "scss/normalize";
//header section

.header {
  @include padding-section;

  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--second-bg-color);

  &__container {
    border-bottom: 2px solid silver solid rgb(219, 219, 219);
    padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
  }

  &__nav {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }

  &__list-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    img {
      border-radius: 50px;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__list-item {
    transition: 0.2s ease-in-out;
    letter-spacing: 0.5px;
    font-weight: 600;
    letter-spacing: 0.1rem;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__list-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__nav-btn {
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 0.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--accent-color);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--accent-color-hover);
      color: var(--second-bg-color);
    }
  }

  //haeader description

  &__welcome {
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__desc-title {
    max-width: 35rem;
    font-weight: 700;
    font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
    margin-bottom: 30px;

    span {
      color: var(--accent-color-blue);
    }
  }
  &__desc-subtitle {
    max-width: 40rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .deco {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__desc-servise {
    @include title-small-accent;
  }

  &__desc-btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--accent-color);
    font-weight: 600;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--accent-color-hover);
      color: var(--second-bg-color);
    }
  }
  &__desc-btn-first {
    padding: 17px 27px;
  }
  &__desc-btn-second {
    background-color: transparent;
    border: 2px solid silver solid var(--text-color);
  }
  .header__btn-item {
    display: flex;
    gap: 1rem;
  }

  &__picture {
    width: 35rem;
    position: relative;

    .haeder__picture-main {
      width: 100%;
    }
  }
}

.item-contact {
  font-size: 20px;
}

//main

main {
  display: flex;
  flex-direction: column;

  section {
    @include padding-section;
  }
}

//sections

.services {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: clamp(2rem, -2.799rem + 2.44vw, 4.688rem) 0;
  }

  &__bottom-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}

.bottom-list {
  &__item {
    padding: 20px 30px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    box-shadow: 1px 1px 15px #cccccc;
  }

  &__item-icon {
    font-size: 35px;
    color: var(--accent-color);
  }
}

//About

.about {
  &__container {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: clamp(2rem, -2.799rem + 2.44vw, 4.688rem) 0;
  }

  &__button {
    @include btn-second-standart;
  }

  &__image-container {
    width: 90rem;
  }

  &__img {
    width: 100%;
  }
}

//section works
.works {
  img {
    width: 100%;
    object-fit: cover;
    height: 24rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  &__presetation-top {
    display: flex;
    gap: 1rem;
  }

  &__main-picture {
    width: 70%;
  }

  &__desc {
    width: 50%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__desc-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__desc-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ._text {
      font-weight: 700;
    }
  }

  &__desc-buttons {
    padding: 0 0 2rem 0;
    display: flex;
    gap: 1.5rem;
    border-bottom: 2px solid silver solid rgb(219, 219, 219);
  }

  &__btn-quote {
    display: flex;
    align-items: center;
    @include btn-standart;
    border-radius: 50px;
    border: none;
    i {
      margin-left: 0.5rem;
    }
  }

  &__btn-portfolio {
    @include btn-second-standart;
    border-radius: 50px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__list-contact {
    display: flex;
    gap: 2rem;
    font-size: 20px;
  }

  &__presetation-bottom {
    display: flex;
    gap: 1.5rem;
  }

  &__img-left {
    width: 40%;
  }

  &__img-right {
    width: 60%;
  }
}
// steps section
.steps {
  &__title {
    padding: 1rem 0;
    width: 20rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid silver;
    gap: 5rem;
    padding: 2rem 0;
    align-items: baseline;

  }

  &__num {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__info {
    font-size: 20px;
  }

  &__deco-img {
    max-width: 100%;
    width: 80rem;
    img {
      width: 100%;
    }
  }
}
//testionials section

.testiomonials {
    position: relative;

    

    &__container {
    }

    &__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__list-container {
    }

    &__opinion-list {
        top: 0;
        display: flex;
        align-items: center;
        gap:3rem;
    }

    &__left-side {
    }

    &__opinion-item {
        position: relative;
        padding: 30px;
        border: 1px solid rgba(192, 192, 192, 0.689);
        background-color: white;
    }
    &__deco-bg {
        position: absolute;
        content: "";
        width: 400px;
        height: 400px;
        background-color: var(--accent-color);
        left: 50%;
        transform: translate(-50%, -15%);
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}
.opinion-item {
    max-width: 500px;

    &__content {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    &__title {
    }

    &__text {
    }

    &__client {
      display: flex;
      align-items: center;
      gap: 0.6rem;
    }

    &__client-img {
      border-radius: 50px;
      width: 3rem;
      height: 3rem;
      }

    &__client-info {
        display: flex;
        flex-direction: column;
       
    }

    &__client-name {
      font-weight: 600;
      padding-bottom: 0.3rem;
    }

    &__client-location {
      color: rgb(113, 113, 113);
    }
}

.footer {
  position: relative;
  margin-top: 10rem;
background-color: var(--accent-color-blue);
color: white;
position: relative;
height: 25rem;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;

  &__contacts {
    position: absolute;
    top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 50%;
    transform: translate(-50%, -15%);
  
  }

  &__contacts-item {
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid rgba(192, 192, 192, 0.689);
    text-align: center;
    max-width: 100%;
    width: 300px;
    padding: 1.5rem;
    transition: 0.2s ease-in-out;

    &:hover {
    button {color: #fff;}

      color:#fff;
      background-color: #003466;
    }
  }

  &__contacts-top {

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__info-title {
    font-size: 18px;
    
  }

  &__info-subtitle {
margin-bottom: 2rem;
color: #7a7a7a;
 
  }

  &__contacts-bottom {
    button {
      text-decoration: underline;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .footer__bottom-side {
    text-align: center;
  text-align: center;
  
  .footer__bottom-wrrapper {
    display: flex;
    justify-content: space-around;
  
  }

  }

}
.contacts-item {

  &__phone {
  }

  &__email {
  }

  &__location {
  }
}
